* {
    margin: 0px;
}

header {
    padding: 4rem;
    background: lightgray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8rem;
}

ul li:last-child {
    background: purple;
    color: white;
    padding: .8rem;    
}